#cssHead {
	margin: 20px auto;
	width: 180px;
	background-color: #fff;
	height: 180px;
	-webkit-border-radius: 500px;
	border-radius: 500px;
	border: 3px solid #000;
	-moz-transform: rotate(-2deg) skew(-3deg, -2deg);
	-webkit-transform: rotate(-2deg) skew(-3deg, -2deg);
	-o-transform: rotate(-2deg) skew(-3deg, -2deg);
	-ms-transform: rotate(-2deg) skew(-3deg, -2deg);
	transform: rotate(-2deg) skew(-3deg, -2deg);
}
.cssEye {
	display: inline-block;
}
.cssPupil {
	width: 12px;
	background: #000;
	height: 12px;
	margin: 6px 0px 3px 8px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
}
.cssEyeLid {
	border: 1px solid #000;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	overflow: hidden;
	height: 20px;
	margin: 0;
}
.htmlEye {
	border: 1px solid #000;
	display: inline-block;
	-webkit-border-radius: 20px;
	border-radius: 20px;
}
.wraphtmlEye {
	background-color: #DDD;
	margin: 6px;
	padding: 4px;
	width: 25px;
	height: 25px;
}
.htmlPupil {
	width: 12px;
	background: #000;
	height: 12px;
	margin: 6px 4px 3px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
}
.rightEye {
	margin: 0;
}
.leftEye {
	margin: 50px 4px 0px 66px;
}
.cssMouth {
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: 4px solid #000;
	-webkit-border-radius: 100px;
	border-radius: 100px;
	height: 20px;
	width: 45px;
	margin: 0px auto 0;
}

/*CSS head animation BEGIN*/
#cssHead {
	-webkit-animation: headRotations 10s infinite;
	animation: headRotations 10s infinite;
}
@-webkit-keyframes headRotations {
	0% {	-webkit-transform: rotate(-2deg) skew(-3deg, -2deg);	}
	20% {	-webkit-transform: rotate(2deg) skew(-3deg, -2deg);		}
	25% {	-webkit-transform: rotate(-4deg) skew(-3deg, -2deg);	}
	28% {	-webkit-transform: rotate(-2deg) skew(-3deg, -2deg);	}
	40% {	-webkit-transform: rotate(-2deg) skew(-3deg, -2deg);	}
	50% {	-webkit-transform: rotate(2deg) skew(-3deg, -2deg);		}
	60% {	-webkit-transform: rotate(-6deg) skew(-3deg, -2deg);	}
	70% {	-webkit-transform: rotate(6deg) skew(-3deg, -2deg);		}
	90% {	-webkit-transform: rotate(6deg) skew(-3deg, -2deg);		}
	100% {	-webkit-transform: rotate(-2deg) skew(-3deg, -2deg);	}
}
@keyframes headRotations {
	0% {	transform: rotate(-2deg) skew(-3deg, -2deg);	}
	20% {	transform: rotate(2deg) skew(-3deg, -2deg);		}
	25% {	transform: rotate(-4deg) skew(-3deg, -2deg);	}
	28% {	transform: rotate(-2deg) skew(-3deg, -2deg);	}
	40% {	transform: rotate(-2deg) skew(-3deg, -2deg);	}
	50% {	transform: rotate(2deg) skew(-3deg, -2deg);		}
	60% {	transform: rotate(-6deg) skew(-3deg, -2deg);	}
	70% {	transform: rotate(6deg) skew(-3deg, -2deg);		}
	90% {	transform: rotate(6deg) skew(-3deg, -2deg);		}
	100% {	transform: rotate(-2deg) skew(-3deg, -2deg);	}
}
/*CSS head animation END*/
/*CSS pupils animation BEGIN*/
.cssPupil {
	-webkit-animation: lookingAround 20s infinite;
	animation: lookingAround 20s infinite;
}
@-webkit-keyframes lookingAround {
	0% {	margin: 6px 0px 3px 8px;	}
	10% {	margin: 6px 0px 3px 8px;	}
	12% {	margin: 6px 8px 3px 0px;	}
	27% {	margin: 6px 8px 3px 0px;	}
	30% {	margin: 6px 0px 3px 8px;	}
	40% {	margin: 6px 0px 3px 8px;	}
	43% {	margin: 1px 0px 8px 8px;	}
	46% {	margin: 6px 0px 3px 8px;	}
	57% {	margin: 6px 0px 3px 8px;	}
	60% {	margin: 6px 8px 3px 0px;	}
	63% {	margin: 6px 0px 3px 8px;	}
	77% {	margin: 6px 0px 3px 8px;	}
	80% {	margin: 6px 4px 3px 4px;	}
	85% {	margin: 6px 4px 3px 4px;	}
	88% {	margin: 6px 0px 3px 8px;	}
	92% {	margin: 6px 0px 3px 8px;	}
	100% {	margin: 6px 0px 3px 8px;	}
}
@keyframes lookingAround {
	0% {	margin: 6px 0px 3px 8px;	}
	10% {	margin: 6px 0px 3px 8px;	}
	12% {	margin: 6px 8px 3px 0px;	}
	27% {	margin: 6px 8px 3px 0px;	}
	30% {	margin: 6px 0px 3px 8px;	}
	40% {	margin: 6px 0px 3px 8px;	}
	43% {	margin: 1px 0px 8px 8px;	}
	46% {	margin: 6px 0px 3px 8px;	}
	57% {	margin: 6px 0px 3px 8px;	}
	60% {	margin: 6px 8px 3px 0px;	}
	63% {	margin: 6px 0px 3px 8px;	}
	77% {	margin: 6px 0px 3px 8px;	}
	80% {	margin: 6px 4px 3px 4px;	}
	85% {	margin: 6px 4px 3px 4px;	}
	88% {	margin: 6px 0px 3px 8px;	}
	92% {	margin: 6px 0px 3px 8px;	}
	100% {	margin: 6px 0px 3px 8px;	}
}
/*CSS pupils animation END*/
/*CSS blinking BEGIN*/
.cssEyeLid {
	-webkit-animation: blinkingEye 7s infinite;
	animation: blinkingEye 7s infinite;
}
@-webkit-keyframes blinkingEye {
	0% {	height: 20px;	margin: 0;	}
	58% {	height: 20px;	margin: 0;	}
	60% {	height: 0px;	margin: 10px 0;	}
	66% {	height: 20px;	margin: 0;	}
	100% {	height: 20px;	margin: 0;	}
}
@keyframes blinkingEye {
	0% {	height: 20px;	margin: 0;	}
	58% {	height: 20px;	margin: 0;	}
	60% {	height: 0px;	margin: 10px 0;	}
	66% {	height: 20px;	margin: 0;	}
	100% {	height: 20px;	margin: 0;	}
}
/*CSS blinking END*/
/*CSS smiling animation BEGIN*/
.cssMouth {
	-webkit-animation: smilingMouth 8s infinite;
	animation: smilingMouth 8s infinite;
}
@-webkit-keyframes smilingMouth {
	0% {	height: 20px;	border-bottom: 3px solid #000;	margin: 0px auto 0;		}
	20% {	height: 35px;	border-bottom: 6px solid #000;	margin: -10px auto 0;	}
	80% {	height: 35px;	border-bottom: 6px solid #000;	margin: -10px auto 0;	}
	100% {	height: 20px;	border-bottom: 3px solid #000;	margin: 0px auto 0;		}
}
@keyframes smilingMouth {
	0% {	height: 20px;	border-bottom: 3px solid #000;	margin: 0px auto 0;		}
	20% {	height: 35px;	border-bottom: 6px solid #000;	margin: -10px auto 0;	}
	80% {	height: 35px;	border-bottom: 6px solid #000;	margin: -10px auto 0;	}
	100% {	height: 20px;	border-bottom: 3px solid #000;	margin: 0px auto 0;		}
}
/*CSS smiling animation END*/